{% extends 'global/base.html' %}

{% block title %}{{ recipe.title }} | {% endblock title %}

{% block content %}
<div class='h-100'>

<h1 class='center'>O usuário pesquisou por {{terms}}</h1>
{% if code == 404 %}
    <h1 class="center">Query not found</h1>
    {% else %}
    <div class="main-content main-content-detail container">
        {% for recipe in recipes %}
            {% include 'recipes/partials/recipe.html' %}
        {% endfor %}
    </div>
{% endif %}
</div>
{% endblock content %}